.container1 {
    height: 10rem;
    background-color: var(--c-black);
}

.container2 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    background-color: var(--c-red);
    height: 100vh;
    padding-bottom: 10rem;
}

.itIgnites {
    grid-column: 9 / span 3;
    color: var(--c-white);
    font-family: Pixer;
    font-size: 8rem;
    line-height: 85%;
    text-transform: uppercase;
    justify-self: end;
    align-self: flex-end;
}

.itIgnites img {
    width: 50rem;
    height: auto;
    object-fit: contain;
}